// primary styles 

$charcoal: #3a3a3a;
$orange: #f26522;


$white: #fff;
$grayHover: #7ea299;
$black: #080809;
$gray: #696868;
$darkGray:#585757;
$darkerGray: #272626;
$darkBlue: #668f9f;
$blueHover: #587d8b;
$green: #63a393;
$greenHover: #6b8c84;
$lightGreen: #7ea299;
$red: #a95836;


